
body{ 
    background-color: var(--color3);
    color: var(--color2);
}

.main{ 
    position: absolute;

    top: 130px;
    left: 0px;

    width: 90%;
    height: 450px;

    border-radius: 0 50px 100px 0;

    background-color: var(--color1);

    font-family: var(--font-principal);

}
    .main__container1{        
        position: relative;

        top: 50px;
        left: 200px;

        width: 80%;
    }
        .main__container1__div{
            position: relative;
            top: 0px;

            font-size: 3rem;
        }
           

            
        .main__container1__div2{ 
            position: relative;
            top: 40px;

            display: flex;
            flex-direction: column;

            font-size: 1.5rem;
            line-height: 3rem;
        }

            .main__container1__card__redes{ 
                display: flex;
                gap: 30px;

                position: relative;
                top: 30px;
                left: 20%;
            }

        .main__container1__div3{
            width: 300px;
            height: 300px;
        }
            .main__container1__div3__img{ 
                width: 200px;
                height: 200px;
            }
        
        .main .menu1{ 
            display: none;
        }

@media screen and (max-width: 450px){

    .main{ 
        height: 350px;
    }
        .main__container1{        
            position: relative;

            top: 30px;
            left: 10px;

            width: 85%;
        }
            .main__container1__div{
                position: relative;
                top: 0px;
                left: 0px;

                font-size: 1rem;
            }

                .main__container1__div__h2{ 
                    font-size: 1rem;
                }
            

                
            .main__container1__div2{ 
                position: relative;
                top: 30px;

                display: flex;
                flex-direction: column;

                font-size: 0.8rem;
                line-height: 1.5rem;
            }

                .main__container1__card__redes{ 
                    display: flex;
                    gap: 30px;

                    position: relative;
                    top: 30px;
                    left: 20%;
                }

            .main__container1__div3{
                width: 300px;
                height: 300px;
            }
                .main__container1__div3__img{ 
                    width: 200px;
                    height: 200px;
                }

                .main .menu1{ 
                    display: flex;

                    position: absolute;
                    top: 400px;

                    width: 100%;
                }
                    .main .menu1__nav{ 
                        width: 100%;
                        justify-content: space-evenly;                        
                        
                        gap: 10px;
                    }
        
                        .main .menu1__nav__div{ 
                            
                        }
        
                        .main .menu1__nav .menu1__nav__a { 
                   
                        }

}